@import url('https://fonts.googleapis.com/css2?family=Acme&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #333;
}

body {
    color: whitesmoke;
    font-family: 'Acme', sans-serif;
    font-weight: 300;
}

/* Logo and Nav Links */

nav {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-direction: column-reverse;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: whitesmoke;
}

p {
    font-family: 'Zilla Slab', sans-serif;
}

#logo {
    /* float: left; */
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    flex-direction: row-reverse;
    display: inline-flex;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    /* float: right; */
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #ff6826;
    padding: 5px;
    border-radius: 5px;
}

.inactive {
    background-color: #333;
    padding: 5px;
}

.active {
    background-color: #ff6826;
    padding: 5px;
    border-radius: 5px;
}

/* Hero image and Text */

.hero-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;

}

.hero-flex>div {
    box-sizing: border-box;
    width: 100%;
    border: solid #333 10px;


    /* Focus animation */
    animation-name: bee-focus;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Focus animation code */

@keyframes bee-focus {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(0);
    }
}

#room-image-text {
    color: black;
    font-family: 'Zilla Slab', serif;

    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    background-color: rgba(255, 104, 38, .7);
    border-radius: 10px 10px 10px 0;

    bottom: 30px;
}

/* Featured room css */

#feature-title {
    text-align: center;
    font-size: 180%;
}

#feature-text {
    text-align: center;
    font-size: 120%;
}

#feature-list {
    list-style-type: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #ff6826;
}

.flex>div {
    width: 40%;
    height: 400px;
    text-align: center;
    border: whitesmoke solid 5px;

}

.blackbeard-info {
    width: 40%;
    height: 300px;
    float: left;
}

.hero {
    height: 600px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    /* Fix this */
    background-color: #ff6826;
}

.break {
    width: 100%;
    height: 100px;
}

/* Details section */

#details-image {
    padding: 100px 0 100px 0;
    background: url("/assets/images/bee-image.jpg") no-repeat center; 
/* Fix this */    
    background-color: none;
}

#details-image > h1 {
    text-align: centergit;
}

#details-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center-details {
    width: 300px;
    height: 300px;
    border: solid 1px whitesmoke;
    border-radius: 50%;
    margin: 0 auto;
}

#center-image {
    background: url(/assets/images/high-five.png) no-repeat center center;
}

/* Footer */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: whitesmoke;
}