@import url('https://fonts.googleapis.com/css2?family=Acme&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    color: whitesmoke;
    font-family: 'Acme', sans-serif;
    font-weight: 300;
}

h1 {
    letter-spacing: 6px;
}

h2 {
    text-transform: capitalize;
    letter-spacing: 4px;
}

p {
    font-family: 'Zilla Slab', sans-serif;
}

/* Logo and Nav Links */

header {
    padding: 30px 0 30px 30px;
    background-image: url(/assets/images/wood.png);

}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: column-reverse;
}

.menu-list {
    font-size: 190%;
    letter-spacing: 4px;
    flex-direction: row-reverse;
    display: inline-flex;
}

.logo {
    margin-bottom: 10px;
}

.logo a {
    text-transform: uppercase;
    font-family: Zilla Slab, sans-serif;
    font-size: 400%;
    letter-spacing: 6px;
    line-height: 50px;
    text-decoration: none;
    color: whitesmoke;

}

.menu a {
    text-decoration: none;
    color: inherit;

}

.menu li {
    list-style-type: none;
    margin-right: 30px;
}

.menu a:hover {
    border: white 2px solid;
    background-color: rgba(78, 166, 178, 0.8);
    padding: 5px;
    border-radius: 5px;

}

.inactive {
    padding: 5px;
    border: 2px solid transparent;
}

.active {
    border: white 2px solid;
    background-color: rgba(78, 166, 178, 0.8);
    padding: 5px;
    border-radius: 5px;
}

/* Hero image and Text */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-image: url(/assets/images/room4.png);
    background-repeat: no-repeat;
    background-position: center;
    animation-name: image-focus;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
    text-align: center;
    color: white;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%, -10%);
    padding: 10px;
    border-radius: 40px 40px 0px 40px;
    width: 300px;
    border: rgb(255, 255, 255) 5px solid;
    background-color: rgba(78, 166, 178, 0.7);
}

/* Focus animation code */

@keyframes image-focus {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(0);
    }
}

/* Featured room css */

.features {
    text-align: center;
    border: #fe6c2e solid 5px;
    font-size: 100%;
    margin: 30px;
}

#feature-title {
    text-align: center;
    font-size: 180%;
    padding: 140px 0;
    color: black;
}

#feature-list {
    list-style-type: none;
}

#feature-text {
    padding: 10px 10px;
    color: #fe6c2e;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    background: black;
}

.blackbeard-info {
    width: 40%;
    height: 300px;
    float: left;
}

.break {
    width: 100%;
    height: 160px;
    background-image: url(/assets/images/wood2.png);
}

#video-container {
    flex-grow: 1;
}

/* benefits section */

.benefits-image {
    background-image: url(/assets/images/room-image.png);
    padding: 120px 30px 100px 30px;
    max-height: 1133px;
}

.benefits-image h1 {
    padding-bottom: 20px;
}

.benefits-image>h1 {
    text-align: center;
    font-size: 300%;
}

.benefits-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-text div {
    margin: 10px 0 10px 0;
}

#circle-container {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container>img {
    border-radius: 50%;
}

#left-benefits {
    background-color: rgba(78, 166, 178, 0.7);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: rgba(255, 255, 255) solid 5px;
}

#right-benefits {
    background-color: rgba(78, 166, 178, 0.7);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: right;
    border: rgba(255, 255, 255) solid 5px;
}

/* Footer */

.social-networks {
    text-align: center;
    background-color: black;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: whitesmoke;
    transition: transform .2s;
}

.social-networks i:hover {
    transform: scale(1.5);
}

.copyright {
    background-color: black;
    padding-left: 5px;
}

/* Escapes Page */

.wood-bg {
    background-image: url(/assets/images/wood3.png);
    padding-bottom: 80px;

}

.wood-bg img {
    animation-name: image-focus;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.map-text {
    animation-name: image-focus;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.escapes-title>h1 p {
    text-align: center;
    font-size: 200%;

}

.map-text {
    position: absolute;
    top: 15%;
    max-width: 750px;
    margin-left: 30px;
    font-size: 150%;
}

.map-text p {
    background-color: rgba(78, 166, 178, 0.7);
    padding: 10px;
    border-radius: 20px;
}

.adventure-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    background-image: url(/assets/images/detective-board.png);
}

.adventure {
    border: solid black 1px;
    height: 300px;
    width: 300px;
    transition: transform .2s;
}

.adventure:hover {
    transform: scale(1.1);
}

.adventure-card {
    margin: 10px;
}

.hover-text {
    position: relative;
    top: -102%;
    text-align: center;
    background-color: rgba(78, 166, 178);
    height: 300px;
    width: 300px;
}

span {
    position: absolute;
    text-align: center;
}

.top {
    border: 1px solid black;
    font-size: 165%;
    text-align: center;
    background-color: rgba(78, 166, 178, 0.7);
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 5px;
}

.bottom {
    border: 1px solid black;
    font-size: 145%;
    text-align: center;
    background-color: rgba(78, 166, 178, 0.7);
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* Form */

.form-section {
    clear: left;
    background: url(/assets/images/team.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    animation-name: image-focus;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.form-section h3 {
    font-weight: 100;
}

.form-section-submit {
    clear: left;
    background: url(/assets/images/team.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.form-section-submit h3 {
    font-weight: 100;
}


.breaker {
    line-height: 30px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(78, 166, 178, 0.7);
    max-width: 400px;
    position: absolute;
    left: 30%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;

}

.text-input:hover {
    border-color: rgba(78, 166, 178);

}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(78, 166, 178);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgba(78, 166, 178);
}

/* Media device size queries */

@media screen and (min-width: 1024px) {

    .social-networks {
        font-size: 200%;
    }
}

@media screen and (max-width: 1399px) {
    .centered {
        transform: translate(0%, -10%);
    }

    /* Fix this */
    .benefits-text {
        flex-direction: column;
    }

    .benefits-image {
        padding: 20px 30px 20px 30px;
    }

    #left-benefits {
        width: 70%;
        text-align: center;
    }

    #right-benefits {
        width: 70%;
        text-align: center;
    }


    .map-text {
        max-width: 550px;
        font-size: 120%;
        top: 15.5%;
    }
}

@media screen and (max-width: 1023px) {
    #left-benefits {
        width: 95%;
    }

    #right-benefits {
        width: 95%;
    }

    .map-text {
        max-width: 550px;
        font-size: 100%;
    }
}

@media screen and (max-width: 900px) {
    .map-text {
        position: unset;
        text-align: center;
        padding: 15px;
    }

    .map-text>h1 {
        position: absolute;
        top: -45%;
    }

    .wood-bg {
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 767px) {

    header {
        padding: 30px 10px 30px 10px;
    }

    .logo a {
        font-size: 280%;
    }

    .menu-list {
        font-size: 160%;
    }

    .centered {
        transform: translate(-50%, 20%);
        width: 230px;
    }

    .container {
        height: 600px;
    }

    .benefits-image>h1 {
        font-size: 180%;
    }

    #circle-container {
        height: 300px;
        width: 300px;
    }

    .signup-form {
        left: 10%;
    }

    .map-text {
        margin: auto;
    }
}

@media screen and (max-width: 539px) {

    h1 {
        letter-spacing: 4px;
    }

    h2 {
        letter-spacing: 2px;
    }

    .benefits-image>h1,
    h2,
    h3 {
        font-size: 120%;
    }

    #circle-container {
        height: 250px;
        width: 250px;
        padding: 10px;
    }

}

@media screen and (max-width: 424px) {
    .logo a {
        font-size: 160%;
        padding-bottom: 10px;
        line-height: 30px;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin-right: 10px;
    }

    .menu-list {
        font-size: 100%;
    }

    header {
        padding: 10px 10px 20px 10px;
    }

    .break {
        height: 95px;
    }

    .flex {
        padding: 10px;

    }

    .features {
        font-size: 90%;
        margin: 5px;
    }

    .benefits-image>h1,
    h2,
    h3 {
        font-size: 100%;
    }

    #right-benefits>p {
        font-size: 90%;
    }

    #left-benefits>p {
        font-size: 90%;
    }

    .map-text>h1 {
        position: absolute;
        top: -23%;
        font-size: 120%;
    }

    .signup-form {
        left: 5%;
    }
}

@media screen and (max-width: 374px) {

    .centered {
        padding: 0px;
    }

    #circle-container {
        height: 200px;
        width: 200px;
    }

    #left-benefits {
        width: 100%;
    }

    #right-benefits {
        width: 100%;
    }
}