@import url('https://fonts.googleapis.com/css2?family=Acme&family=Zilla+Slab&display=swap');

html {
    background-color: #333;
}

body {
    color: red;
    font-family: 'Acme', sans-serif;
    font-weight: 300;
}